<div class="md:flex p-12 md:p-0 dark:bg-slate-300">
  <img
    class="w-56 h-56 p-5 rounded-full mx-auto"
    src="../assets/john.jpg"
    alt=""
    width="384"
    height="512"
  />
  <div class="pt-6 md:p-8 text-left space-y-4">
    <div>
      <div class="font-medium font-Poppins">
        <div class="text-sky-700 dark:text-sky-700 text-2xl font-bold">
          John Doe
        </div>
        <p class="text-xl font-medium mt-4">
          Hey There! I am John Doe. I am a Web Developer. This is my Bio. This
          page contains my repositories of the projects I have build so far.
        </p>
        <div
          class="text-slate-700 dark:text-slate-500 mt-4 hover:cursor-pointer"
        >
          <fa-icon [icon]="faLocationDot"></fa-icon> Orlando
        </div>
        <div class="text-slate-700 dark:text-slate-500 mt-4 text-2xl">
          <a href="https://twitter.com/ayushhtyagi" target="_blank"
            ><fa-icon [icon]="faTwitter"></fa-icon
          ></a>
          <a href="https://github.com/ayushtyagi14" target="_blank"
            ><fa-icon class="p-4" [icon]="faGithub"></fa-icon
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
